{% extends 'home/base.html' %}

{% block content %}
    <body>
	
		<!-- Book Preloader -->
        {% comment %} <div class="book_preload">
            <div class="book">
                <div class="book__page"></div>
                <div class="book__page"></div>
                <div class="book__page"></div>
            </div>
        </div> {% endcomment %}
		<!--/ End Book Preloader -->
	
		<!-- Mp Color -->
		
		<!--/ End Mp Color -->
	
		<!-- Header -->
		<header class="header">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-12">
							<!-- Contact -->
							<ul class="content">
								<li><i class="fa fa-phone"></i>{{content.phone}}</li>
								<li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope-o"></i>{{content.email}}</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-4 col-12">
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus "></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<div class="logo">
								<a href="index.html"><img src="{% static 'images/logo.png' %}" alt="#"></a>
							</div>
							<div class="mobile-menu"></div>
						</div>
						<div class="col-lg-9 col-md-9 col-12">
							<!-- Header Widget -->
							<div class="header-widget">
								<div class="single-widget">
									<i class="fa fa-phone"></i>
									<h4>Call Now<span>{{content.phone}}</span></h4>
								</div>
								<div class="single-widget">
									<i class="fa fa-envelope-o"></i>
									<h4>Send Message<a href="{{content.email}}"><span>{{content.email}}</span></a></h4>
								</div>
								<div class="single-widget">
									<i class="fa fa-map-marker"></i>
									<h4>Our Location<span>Pokhara-01, Bagar </span></h4>
								</div>
							</div>
							<!--/ End Header Widget -->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
			<!-- Header Menu -->
			<div class="header-menu">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<nav class="navbar navbar-default">
								<div class="navbar-collapse">
									<!-- Main Menu -->
									<ul id="nav" class="nav menu navbar-nav">
										<li class="active"><a href="index.html">Home<i class="fa fa-angle-down"></i></a>
											<ul class="dropdown">
												<li><a href="index.html">Homepage Default</a></li>
												<li><a href="index2.html">Homepage Animation</a></li>
											</ul>
										</li>
										<li><a href="#">Pages<i class="fa fa-angle-down"></i></a>
											<ul class="dropdown">
											<li><a href="about.html">About Us</a></li>
												<li><a href="#">Teachers<i class="fa fa-angle-right"></i></a>
													<ul class="dropdown submenu">
														<li><a href="teacher.html">Teachers V1</a></li>
														<li><a href="teacher2.html">Teachers V2</a></li>
														<li><a href="teacher-single.html">Teacher Single</a></li>
													</ul>
												</li>
												<li><a href="testimonials.html">Testimonials</a></li>
												<li><a href="faqs.html">Faqs</a></li>
												<li><a href="404.html">404 Page</a></li>
											</ul>
										</li>
										<li><a href="#">Courses<i class="fa fa-angle-down"></i></a> 
											<ul class="dropdown">
												<li><a href="courses.html">Courses</a></li>
												<li><a href="course-single.html">Course Single</a></li>
												<li><a href="course-single-video.html">Course Single Video</a></li>
											</ul>
										</li>
										<li><a href="#">Events<i class="fa fa-angle-down"></i></a> 
											<ul class="dropdown">
												<li><a href="events.html">Events</a></li>
												<li><a href="event-single.html">Event Single</a></li>
											</ul>
										</li>
										<li><a href="#">Blogs<i class="fa fa-angle-down"></i></a>
											<ul class="dropdown">
												<li><a href="blogs.html">Blogs Grid Layout</a></li>
												<li><a href="blogs-left-sidebar.html">Blogs Left Sidebar</a></li>
												<li><a href="blogs-right-sidebar.html">Blogs Right Sidebar</a></li>
												<li><a href="blog-single-left-sidebar.html">Blogs Single - Left Sidebar</a></li>
												<li><a href="blog-single.html">Blogs Single - Right Sidebar</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
									<!-- End Main Menu -->
									<!-- button -->
									<div class="button">
										<a href="contact.html" class="btn"><i class="fa fa-pencil"></i>Apply Now</a>
									</div>
									<!--/ End Button -->
								</div> 
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Menu -->
		</header>
		<!-- End Header -->
		
		<!-- Slider Area -->
		<section class="home-slider">
			<div class="slider-active">
				<!-- Single Slider -->
				{% for slide in slides %}
				<div class="single-slider overlay" style="background-image:url({{slide.photo.url}})">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-12">
								<div class="slider-text">
									<h1>{{slide.head}}</h1>
									<p>{{slide.content}}</p>
									<div class="button">
										<a href="courses.html" class="btn primary">Our Courses</a>
										<a href="about.html" class="btn">About Learnedu</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<!--/ End Single Slider -->
				
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Features -->
		<section class="our-features section">
			<div class="container">
				<div class="row">
					<div class="col-12 wow zoomIn">
						<div class="section-title">
							<h2>{{desc.header}}</h2>
							<p>{{desc.content}}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.4s">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="feature-head">
								<img src="{% static 'images/feature1.jpg' %}" alt="#">
							</div>
							<h2>Online Courses Facilities</h2>
							<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim</p>	
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.6s">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="feature-head">
								<img src="{% static 'images/feature2.jpg' %}" alt="#">
							</div>
							<h2>Student Admin Panel</h2>
							<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim</p>	
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.8s">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="feature-head">
								<img src="{% static 'images/feature3.jpg' %}" alt="#">
							</div>
							<h2>Perfect Guidelines</h2>
							<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim</p>	
						</div>
						<!--/ End Single Feature -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Features -->
		
		<!-- Enroll -->
		{% comment %} <section class="enroll overlay section" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="row">
							<div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
								<!-- Single Enroll -->
								<div class="enroll-form">
									<div class="form-title">
										<h2>Enroll Today</h2>
										<p>Before you miss the chance to get your seat!</p>
									</div>
									<!-- Form -->
									<form class="form" action="#">
										<div class="form-group">
											<label>Enter Your name</label>
											<input name="name" type="text" placeholder="John Mathew">
										</div>
										<div class="form-group">
											<label>Enter Your Email</label>
											<input name="email" type="email" placeholder="john@youremail.com">
										</div>
										<div class="form-group">
											<label>Type your messages</label>
											<textarea name="message" placeholder="i would like to talking..."></textarea>
										</div>
										<div class="form-group button">
											<button type="submit" class="btn">Register Now</button>
										</div>
									</form>
									<!--/ End Form -->
								</div>
								<!-- Single Enroll -->
							</div>
							<div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.6s">
								<div class="enroll-right">
									<div class="section-title">
										<h2>We Have More than 28,690+ Student With online Join!</h2>
										<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis.</p>
									</div>
								</div>
								<!-- Skill Main -->
								<div class="skill-main">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-12 wow zoomIn" data-wow-delay="0.8s">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="circle" data-value="0.7" data-size="130">
													<strong>28K+</strong>
												</div>
												<h4>Students</h4>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-lg-4 col-md-4 col-12 wow zoomIn" data-wow-delay="1s">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="circle" data-value="0.9" data-size="130">
													<strong>50+</strong>
												</div>
												<h4>Courses</h4>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-lg-4 col-md-4 col-12 wow zoomIn" data-wow-delay="1.2s">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="circle" data-value="0.8" data-size="130">
													<strong>33+</strong>
												</div>
												<h4>Teachers</h4>
											</div>
											<!--/ End Single Skill -->
										</div>
									</div>
								</div>
								<!--/ End Skill Main -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Enroll --> {% endcomment %}

		<!-- Courses -->
		<section class="courses section-bg section">
			<div class="container">
				<div class="row">
					<div class="col-12 wow zoomIn">
						<div class="section-title">
							<h2>Popular <span>Courses</span> We Offer</h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="course-slider">
							<!-- Single Course -->
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{% static 'images/course/course1.jpg' %}" alt="#">
									<a href="course-single.html" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="course-single.html"><span>Commerce</span>Business Management</a></h4>
									<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean </p>
								</div>
								<div class="course-meta">
									<div class="meta-left">
										<span><i class="fa fa-users"></i>36 Seat</span>
										<span><i class="fa fa-clock-o"></i>2 Years</span>
									</div>
									<span class="price">$350</span>
								</div>
							</div>
							<!--/ End Single Course -->
							<!-- Single Course -->
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{% static 'images/course/course2.jpg' %}" alt="#">
									<a href="course-single.html" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="course-single.html"><span>Science</span>Software Engineer</a></h4>
									<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean </p>
								</div>
								<div class="course-meta">
									<div class="meta-left">
										<span><i class="fa fa-users"></i>20 Seat</span>
										<span><i class="fa fa-clock-o"></i>1 Years</span>
									</div>
									<span class="price">$590</span>
								</div>
							</div>
							<!--/ End Single Course -->
							<!-- Single Course -->
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{% static 'images/course/course3.jpg' %}" alt="#">
									<a href="course-single.html" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="course-single.html"><span>Science</span>Electrical Management</a></h4>
									<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean </p>
								</div>
								<div class="course-meta">
									<div class="meta-left">
										<span><i class="fa fa-users"></i>49 Seat</span>
										<span><i class="fa fa-clock-o"></i>2 Years</span>
									</div>
									<span class="price">$140</span>
								</div>
							</div>
							<!--/ End Single Course -->
							<!-- Single Course -->
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{% static 'images/course/course1.jpg' %}" alt="#">
									<a href="course-single.html" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="course-single.html"><span>Commerce</span>Business Management</a></h4>
									<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean </p>
								</div>
								<div class="course-meta">
									<div class="meta-left">
										<span><i class="fa fa-users"></i>36 Seat</span>
										<span><i class="fa fa-clock-o"></i>2 Years</span>
									</div>
									<span class="price">$350</span>
								</div>
							</div>
							<!--/ End Single Course -->
							<!-- Single Course -->
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{% static 'images/course/course2.jpg' %}" alt="#">
									<a href="course-single.html" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="course-single.html"><span>Science</span>Software Engineer</a></h4>
									<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean </p>
								</div>
								<div class="course-meta">
									<div class="meta-left">
										<span><i class="fa fa-users"></i>20 Seat</span>
										<span><i class="fa fa-clock-o"></i>1 Years</span>
									</div>
									<span class="price">$590</span>
								</div>
							</div>
							<!--/ End Single Course -->
							<!-- Single Course -->
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{% static 'images/course/course3.jpg' %}" alt="#">
									<a href="course-single.html" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="course-single.html"><span>Science</span>Electrical Management</a></h4>
									<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean </p>
								</div>
								<div class="course-meta">
									<div class="meta-left">
										<span><i class="fa fa-users"></i>49 Seat</span>
										<span><i class="fa fa-clock-o"></i>2 Years</span>
									</div>
									<span class="price">$140</span>
								</div>
							</div>
							<!--/ End Single Course -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Courses -->	
		
		<!-- Call To Action -->
		<section class="cta" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 offset-lg-6 col-12">
						<div class="cta-inner overlay">
							<div class="text-content">
								<h2>We Focus On Brands, Products & Campaigns</h2>
								<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore cum. Coluta nobis est eligendi optio cumque nihil impedit quo minusd quod maxime placeat facere possimus, omnis voluptas assumenda est. Our friendly support team is standing by to help you every step of the way.</p>
								<div class="button">
									<a class="btn primary wow fadeInUp" href="contact.html" >Register Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call To Action -->
		
		<!-- Team -->
		<section class="team section">
			<div class="container">
				<div class="row">
					<div class="col-12 wow zoomIn">
						<div class="section-title">
							<h2>Our Awesome <span>Teachers</span></h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-delay="0.4s">
						<!-- Single Team -->
						<div class="single-team">
							<img src="{% static 'images/team/team1.jpg' %}" alt="#">
							<div class="team-hover">
								<h4>Rohan Jonson<span>Associate Professor</span></h4>
								<p>cumque nihil impedit quo minusid quod maxime placeat facere possimus</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
						<!--/ End Single Team -->
					</div>
					<div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-delay="0.6s">
						<!-- Single Team -->
						<div class="single-team active">
							<img src="{% static 'images/team/team2.jpg' %}" alt="#">
							<div class="team-hover">
								<h4 class="name">Ian Harvey<span class="work">Web Programmer</span></h4>
								<p>cumque nihil impedit quo minusid quod maxime placeat facere possimus</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
						<!--/ End Single Team -->
					</div>
					<div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-delay="0.8s">
						<!-- Single Team -->
						<div class="single-team">
							<img src="{% static 'images/team/team3.jpg' %}" alt="#">
							<div class="team-hover">
								<h4 class="name">Lusfat Roman<span class="work">Software Engineer</span></h4>
								<p>cumque nihil impedit quo minusid quod maxime placeat facere possimus</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
						<!--/ End Single Team -->
					</div>
					<div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-delay="1s">
						<!-- Single Team -->
						<div class="single-team">
							<img src="{% static 'images/team/team4.jpg' %}" alt="#">
							<div class="team-hover">
								<h4 class="name">Nalpamb Bold<span class="work">JS Developer</span></h4>
								<p>cumque nihil impedit quo minusid quod maxime placeat facere possimus</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
						<!--/ End Single Team -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Team -->
		
		<!-- Testimonials -->
		<section class="testimonials overlay section" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="testimonial-slider">
							<!-- Single Testimonial -->
							{% for message in messages %}
							<div class="single-testimonial">
								<img src="{{message.image.url}}" alt="#">
								<div class="main-content">
									<h4 class="name">{{message.chief_name}}</h4>
									<p>{{message.message}}</p>
								</div>
							</div>
							{% endfor %}
							<!--/ End Single Testimonial -->
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Testimonials -->
		
		<!-- Events -->
		<section class="events section">
			<div class="container">
				<div class="row">
					<div class="col-12 wow zoomIn">
						<div class="section-title">
							<h2>Upcoming <span>Events</span></h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="event-slider">
							<!-- Single Event -->
							{% for event in events %}
							<div class="single-event">
								
								<div class="event-content">
									<div class="meta"> 
										<span><i class="fa fa-calendar"></i>{{event.date}}</span>
										
									</div>
									<h4><a href="event-single.html">{{event.title}}</a></h4>
									<p>
									{% autoescape on %}
									{{event.content |safe}}
									{% endautoescape %}
									</p>
									<div class="button">
										<a href="event-single.html" class="btn">Join Event</a>
									</div>
								</div>
							</div>
							{% endfor %}
							<!--/ End Single Event -->
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Events -->
		
		<!-- Fun Facts -->
		<div class="fun-facts overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="0.4s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-institution"></i>
							<div class="number"><span class="counter">80</span>k+</div>
							<p>Active Cources</p>
						</div>
						<!--/ End Single Fact -->
					</div>
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="0.6s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-graduation-cap"></i>
							<div class="number"><span class="counter">33</span>k+</div>
							<p>Active Students</p>
						</div>
						<!--/ End Single Fact -->
					</div>
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="0.8s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-video-camera"></i>
							<div class="number"><span class="counter">278</span>+</div>
							<p>Video Cources</p>
						</div>
						<!--/ End Single Fact -->
					</div>
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="1s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-trophy"></i>
							<div class="number"><span class="counter">308</span>+</div>
							<p>Awards Won</p>
						</div>
						<!--/ End Single Fact -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun Facts -->
		
		<!-- Blogs -->
		<section class="blog section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Latest <span>News</span></h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="blog-slider">
							<!-- Single Blog -->
							{% for n in news  %}
							<div class="single-blog">
								<div class="blog-head overlay">
									<div class="date">
										<h4><span>{{n.date| date:"M d , Y"}}</span></h4>
									</div>
									<img src="{% static 'images/blog/blog1.jpg' %}" alt="#">
								</div>
								<div class="blog-content">
									<h4 class="blog-title"><a href="blog-single.html">{{n.title}}</a></h4>
									<div class="blog-info">
										<a href="#"><i class="fa fa-user"></i>By:
										{% if n.department %}{{n.department}}{% else %}{{n.program}}{% endif %}
										</a>
										<a href="#"><i class="fa fa-list"></i>Learning</a>
										
									</div>
									<p>
									{% autoescape on %}
									{{n.content|safe}}
									{% endautoescape %}
									</p>
									<div class="button">
										<a href="blog-single.html" class="btn">Read More<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- End Single Blog -->
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Blogs -->
		
		<!-- Footer -->
		<footer class="footer overlay section wow fadeIn">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<!-- About -->
							<div class="single-widget about">
								<div class="logo"><a href="#"><img src="{% static 'images/logo.png' %}" alt="#"></a></div>
								<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur</p>
								<ul class="list">
									<li><i class="fa fa-phone"></i>Phone: {{content.phone}} </li>
									<li><i class="fa fa-envelope"></i>Email: <a href="mailto:{{content.email}}">{{content.email}}</a></li>
									<li><i class="fa fa-map-o"></i>Address: {{content.address}}</li>
								</ul>
							</div>
							<!--/ End About -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Useful Links -->
							<div class="single-widget useful-links">
								<h2>Useful Links</h2>
								<ul>
									<li><a href="#"><i class="fa fa-angle-right"></i>Home</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>About Us</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Courses</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Events</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Blogs</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
								</ul>
							</div>
							<!--/ End Useful Links -->
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Latest News -->
							<div class="single-widget latest-news">
								<h2>Latest Posts</h2>
								<div class="news-inner">
									<div class="single-news">
										<img src="images/blog/blog1.jpg" alt="#">
										<h4><a href="blog-single.html">Our Teacher the best Link to Savc</a></h4>
										<p>Nunc purus orci, blandit condimentum rhoncus vels</p>
									</div>
									<div class="single-news">
										<img src="images/blog/blog2.jpg" alt="#">
										<h4><a href="blog-single.html">Student Have the best Link to Ronae</a></h4>
										<p>Nunc purus orci, blandit condimentum rhoncus vels</p>
									</div>
									<div class="single-news">
										<img src="images/blog/blog3.jpg" alt="#">
										<h4><a href="blog-single.html">Sekker the best Link to build</a></h4>
										<p>Nunc purus orci, blandit condimentum rhoncus vele</p>
									</div>
								</div>
							</div>
							<!--/ End Latest News -->
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<!-- Newsletter -->
							<div class="single-widget newsletter">
								<h2>Subscribe Newsletter</h2>
								<div class="mail">
									<p>Don't miss to  subscribe to our news feed, Get the latest updates from us!</p>
									<div class="form">
										<input type="email" placeholder="Enter your email">
										<button class="button" type="submit"><i class="fa fa-envelope"></i></button>
									</div>
								</div>
							</div>
							<!--/ End Newsletter -->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bottom-head">
								<div class="row">
									<div class="col-12">
										<!-- Social -->
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										</ul>
										<!-- End Social -->
										<!-- Copyright -->
										<div class="copyright">
											<p>© Copyright 2018 <a href="#">LearnEdu</a>. All Rights Reserved</p>
										</div>
										<!--/ End Copyright -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Bottom -->
		</footer>
		<!--/ End Footer -->
		{% endblock content %}
