{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <body>
	
		<!-- Book Preloader -->
       
		<div class="book_preload">
            <div class="book">
                <div class="book__page"></div>
                <div class="book__page"></div>
                <div class="book__page"></div>
            </div>
        </div>
		<!--/ End Book Preloader -->
	
		<!-- Mp Color -->
		
		<!--/ End Mp Color -->
	
		<!-- Header -->
		<header class="header">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-12">
							<!-- Contact -->
							<ul class="content">
								<li><i class="fa fa-phone"></i>{{content.phone}}</li>
								<li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope-o"></i>{{content.email}}</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-4 col-12">
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus "></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<div class="logo">
								<a href="index.html"><img src="{% static 'images/logo.png' %}" alt="#"></a>
							</div>
							<div class="mobile-menu"></div>
						</div>
						<div class="col-lg-9 col-md-9 col-12">
							<!-- Header Widget -->
							<div class="header-widget">
								<div class="single-widget">
									<i class="fa fa-phone"></i>
									<h4>Call Now<span>{{content.phone}}</span></h4>
								</div>
								<div class="single-widget">
									<i class="fa fa-envelope-o"></i>
									<h4>Send Message<a href="{{content.email}}"><span>{{content.email}}</span></a></h4>
								</div>
								<div class="single-widget">
									<i class="fa fa-map-marker"></i>
									<h4>Our Location<span>Pokhara-01, Bagar </span></h4>
								</div>
							</div>
							<!--/ End Header Widget -->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
			<!-- Header Menu -->
			<div class="header-menu">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<nav class="navbar navbar-default">
								<div class="navbar-collapse">
									<!-- Main Menu -->
									<ul id="nav" class="nav menu navbar-nav">
										<li class="active"><a href="/">Home</a></li>
										<li><a href="#">Faculties<i class="fa fa-angle-down"></i></a>
											<ul class="dropdown">
												{% for faculty in faculties %}
													<li><a href="/faculty/{{faculty.slug}}">{{faculty.name}}</a></li>
													{% endfor %}
											</ul>
										</li>
										<li><a href="#">Institutes<i class="fa fa-angle-down"></i></a>
											<ul class="dropdown">
												{% for i in institutes %}
													<li><a href="/institute/{{i.slug}}">{{i.name}}</a></li>
													{% endfor %}
											</ul>
										</li>
										<li><a href="#">Programs<i class="fa fa-angle-down"></i></a>
											<ul class="dropdown">
												{% for program in programs  %}
												<li><a href="courses.html">{{program.name}}</a></li>
												{% endfor %}
											</ul>
										</li>
										<li><a href="/courses/">Courses</a></li>
										<li><a href="news/">News</a></li>
										<li><a href="notice/">Notices</a></li>
										<li><a href="events/">Events</a></li>
										<li><a href="aboutUs/">About Us</a></li>
										<li><a href="contact">Contact</a></li>
									</ul>
									<!-- End Main Menu -->
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Menu -->
		</header>
		<!-- End Header -->
		
		<!-- Slider Area -->
		<section class="home-slider">
			<div class="slider-active">
				<!-- Single Slider -->
				{% for slide in slides %}
				<div class="single-slider overlay" style="background-image:url({{slide.photo.url}})">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-12">
								<div class="slider-text">
									<h1>{{slide.head}}</h1>
									<p>{{slide.content}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<!--/ End Single Slider -->
				
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Features -->
		<section class="our-features section">
			<div class="container">
				<div class="row">
					<div class="col-12 wow zoomIn">
						<div class="section-title">
							<h2>{{desc.header}}</h2>
							<p>{{desc.content}}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.4s">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="feature-head">
								<img src="{% static 'images/feature1.jpg' %}" alt="#">
							</div>
							<h2>Online Courses Facilities</h2>
							<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim</p>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.6s">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="feature-head">
								<img src="{% static 'images/feature2.jpg' %}" alt="#">
							</div>
							<h2>Student Admin Panel</h2>
							<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim</p>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.8s">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="feature-head">
								<img src="{% static 'images/feature3.jpg' %}" alt="#">
							</div>
							<h2>Perfect Guidelines</h2>
							<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim</p>
						</div>
						<!--/ End Single Feature -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Features -->
		
		<!-- Enroll -->
		 <section class="enroll overlay section" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="row">
							<div class="col-lg-12 col-12 wow fadeInUp" data-wow-delay="0.6s">
								<div class="enroll-right">
									<div class="section-title text-center">
										<h2>We Have More than 10,000+ Student In Our Campus!</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias
											amet consectetur cum facilis fugit id, impedit ipsam quibusdam
											quis quisquam repellendus suscipit vero. Distinctio explicabo
											fuga perspiciatis provident quia. orci. Vestibulum interdum
											felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante
											vitae laoreet sagittis.</p>
									</div>
								</div>
								<!-- Skill Main -->

								<!--/ End Skill Main -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Enroll -->

		<!-- Courses -->
		<section class="courses section-bg section">
			<div class="container">
				<div class="row">
					<div class="col-12 wow zoomIn">
						<div class="section-title">
							<h2>Popular <span>Courses</span> We Offer</h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-8 col-md-12"></div>
					<div class="col-xl-4 col-md-12">
						<div class="learnedu-sidebar" style="border-left:0px;">
							<div class="search">
								<div class="form">
								<form action="/courses/" class="">
									<input type="search"  name="search_courses" placeholder="Search Courses.." required="required">
									<button class="button" type="submit">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="course-slider">
							<!-- Single Course -->
							{% for d in departments %}
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{{d.feature_image.url}}" alt="{{d.name}}" style="height:250px;">
									<a href="/about/{{d.slug}}" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="/about/{{d.slug}}"><span>{{d.name}}</span></a></h4>
									<p>{{d.content |safe|truncatewords:"30"}}</p>
								</div>
								
							</div>
							{% endfor %}
							{% for p in programs %}
							<div class="single-course">
								<div class="course-head overlay">
									<img src="{{p.feature_image.url}}" alt="{{p.name}}" style="height:300px">
									<a href="" class="btn"><i class="fa fa-link"></i></a>
								</div>
								<div class="single-content">
									<h4><a href="course-single.html"><span>{{p.name}}</span></a></h4>
									<p>{{p.content |safe|truncatewords:"7"|linebreaks}}</p>
								</div>
								<div class="course-meta">
								<div class="meta-left">
									<span><i class="fa fa-users"></i>&nbsp;36 Seat</span>
									<span><i class="fa fa-clock-o"></i> 2 Years</span>
								</div>
                                	<a href=""><span class="price">View More</span></a>
								</div>
							</div>
							{% endfor %}
							<!--/ End Single Course -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Courses -->	
		
		<!-- Call To Action -->
		<section class="cta" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 offset-lg-6 col-12">
						<div class="cta-inner overlay">
							<div class="text-content">
								<h2>We Focus On Brands, Products & Campaigns</h2>
								<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore cum. Coluta nobis est eligendi optio cumque nihil impedit quo minusd quod maxime placeat facere possimus, omnis voluptas assumenda est. Our friendly support team is standing by to help you every step of the way.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call To Action -->
		
		<!-- Latest Notice -->
		<section class="blog section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Latest <span>notices</span></h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-8 col-md-12"></div>
					<div class="col-xl-4 col-md-12">
						<div class="learnedu-sidebar" style="border-left:0px;">
							<div class="search">
								<div class="form">
								<form action="/notice/" class="">
									<input type="search"  name="search_courses" placeholder="Search Notices.." required="required">
									<button class="button" type="submit">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="blog-slider">
							<!-- Single Blog -->
							{% for n in notices  %}
							<div class="single-blog">
								<div class="blog-head overlay">
									<div class="date">
										<h4>{{n.date| date:"d"}}<span>{{n.date| date:"M"}}</span></h4>
									</div>
									<img src="{{n.feature_image.url}}" alt="#" style="height:300px;width:100%">
								</div>
								<div class="blog-content">
									<h4 class="blog-title"><a href="/notice/{{n.slug}}">{{n.title |truncatewords:"10"}}</a></h4>
									<div class="blog-info">
										<a href="#"><i class="fa fa-user"></i>By:
										{% if n.department %}{{n.department}}{% else %}{{n.program}}{% endif %}
										</a>
										
									</div>
									<p>
									{% autoescape on %}
									{{n.content |safe|truncatewords:"20"}}
									{% endautoescape %}
									</p>
									<div class="button">
										<a href="/notice/{{n.slug}}" class="btn">Read More<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- End Single Blog -->
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Latest Notice -->
		<!-- Messages -->
		<section class="testimonials overlay section" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="testimonial-slider">
							<!-- Single Testimonial -->
							{% for message in messages %}
							<div class="single-testimonial">
								<img src="{{message.image.url}}" alt="#">
								<div class="main-content">
									<h4 class="name">{{message.chief_name}}</h4>
									<p>{{message.message |safe|truncatewords:"35"}}</p>
								</div>
							</div>
							{% endfor %}
							<!--/ End Single Testimonial -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Messages -->
		
		<!-- Events -->
		<section class="blog section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Latest <span>Events</span></h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-8 col-md-12"></div>
					<div class="col-xl-4 col-md-12">
						<div class="learnedu-sidebar" style="border-left:0px;">
							<div class="search">
								<div class="form">
								<form action="/events/" class="">
									<input type="search"  name="search_courses" placeholder="Search Events.." required="required">
									<button class="button" type="submit">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="blog-slider">
							<!-- Single Blog -->
							{% for e in events  %}
							<div class="single-blog">
								<div class="blog-head overlay">
									<div class="date">
										<h4>{{e.date| date:"d"}}<span>{{e.date| date:"M"}}</span></h4>
									</div>
									<img src="{{e.feature_image.url}}" alt="#" style="height:300px;width:100%">
								</div>
								<div class="blog-content">
									<h4 class="blog-title"><a href="/events/{{e.slug}}">{{e.title |truncatewords:"10"}}</a></h4>
									<div class="blog-info">
										
										
										
									</div>
									<p>
									{% autoescape on %}
									{{n.content |safe|truncatewords:"20"}}
									{% endautoescape %}
									</p>
									<div class="button">
										<a href="/events/{{e.slug}}" class="btn">Read More<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- End Single Blog -->
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Events -->
		
		<!-- Fun Facts -->
		<div class="fun-facts overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="0.4s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-institution"></i>
							<div class="number"><span class="counter">32</span>+</div>
							<p>Active Cources</p>
						</div>
						<!--/ End Single Fact -->
					</div>
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="0.6s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-graduation-cap"></i>
							<div class="number"><span class="counter">10</span>k+</div>
							<p>Active Students</p>
						</div>
						<!--/ End Single Fact -->
					</div>
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="0.8s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-video-camera"></i>
							<div class="number"><span class="counter">278</span>+</div>
							<p>Video Cources</p>
						</div>
						<!--/ End Single Fact -->
					</div>
					<div class="col-lg-3 col-md-6 col-6 wow zoomIn" data-wow-delay="1s">
						<!-- Single Fact -->
						<div class="single-fact">
							<i class="fa fa-trophy"></i>
							<div class="number"><span class="counter">308</span>+</div>
							<p>Awards Won</p>
						</div>
						<!--/ End Single Fact -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun Facts -->
		
		<!-- Blogs -->
		<section class="blog section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Latest <span>News</span></h2>
							<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>
						</div>
					</div>
				</div>
				<div class="row">
									<div class="col-xl-8 col-md-12"></div>
					<div class="col-xl-4 col-md-12">
						<div class="learnedu-sidebar" style="border-left:0px;">
							<div class="search">
								<div class="form">
								<form action="/news/" class="">
									<input type="search"  name="search_courses" placeholder="Search News
									.." required="required">
									<button class="button" type="submit">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="blog-slider">
							<!-- Single Blog -->
							{% for n in news  %}
							<div class="single-blog">
								<div class="blog-head overlay">
									<div class="date">
										<h4>{{n.date| date:"d"}}<span>{{n.date| date:"M"}}</span></h4>
									</div>
									<img src="{{n.feature_image.url}}" alt="#" style="height:300px;width:100%">
								</div>
								<div class="blog-content">
									<h4 class="blog-title"><a href="/news/{{n.slug}}">{{n.title |truncatewords:"10"}}</a></h4>
									<div class="blog-info">
										<a href="#"><i class="fa fa-user"></i>By:
										{% if n.department %}{{n.department}}{% else %}{{n.program}}{% endif %}
										</a>
										<a href="#"><i class="fa fa-calendar"></i>{{n.date|date:"d, M"}}</a>
										
									</div>
									<p>
									{% autoescape on %}
									{{n.content |safe|truncatewords:"20"}}
									{% endautoescape %}
									</p>
									<div class="button">
										<a href="/news/{{n.slug}}" class="btn">Read More<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- End Single Blog -->
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Blogs -->
		
		<!-- Footer -->
		<footer class="footer overlay section wow fadeIn">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<!-- About -->
							<div class="single-widget about">
								<div class="logo"><a href="#"><img src="{% static 'images/logo.png' %}" alt="#"></a></div>
								<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur</p>
								<ul class="list">
									<li><i class="fa fa-phone"></i>Phone: {{content.phone}} </li>
									<li><i class="fa fa-envelope"></i>Email: <a href="mailto:{{content.email}}">{{content.email}}</a></li>
									<li><i class="fa fa-map-o"></i>Address: {{content.address}}</li>
								</ul>
							</div>
							<!--/ End About -->
						</div>
						<div class="col-md-1"></div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Useful Links -->
							<div class="single-widget useful-links">
								<h2>Useful Links</h2>
								<ul>
									<li><a href="#"><i class="fa fa-angle-right"></i>Home</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>About Us</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Courses</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>News</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Events</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Notice</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
								</ul>
							</div>
							<!--/ End Useful Links -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Latest News -->
							<div class="single-widget useful-links">
								<h2>Costume Pages</h2>
								{% for p in pages  %}
								<ul>
									<li><a href="pages/{{p.slug}}"><i class="fa fa-angle-right"></i>{{p.name}}</a></li>
								</ul>
								{% endfor %}
							</div>
							<!--/ End Latest News -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<div class="single-widget useful-links">
								<h2>Resources For</h2>
								<ul>
									<li><a href="#"><i class="fa fa-angle-right"></i>Future Students</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Current Students</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Faculty/Staff</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>International</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Postdocs</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Alumni</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<div class="single-widget useful-links">
								<h2>Study</h2>
								<ul>
									<li><a href="#"><i class="fa fa-angle-right"></i>Courses</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Apply Now</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Scholarships</a></li>
									<li><a href=""><i class="fa fa-angle-right"></i>FAQs</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>International student enquiries</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bottom-head">
								<div class="row">
									<div class="col-12">
										<!-- Social -->
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										</ul>
										<!-- End Social -->
										<!-- Copyright -->
										<div class="copyright">
											<p>© Copyright 2018 <a href="#">Roopesh Shankar</a>. All Rights Reserved</p>
										</div>
										<!--/ End Copyright -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Bottom -->
		</footer>
		<!--/ End Footer -->
		{% endblock content %}
