{% extends 'home/base.html' %}
{% load static %}
{% block title %}
{{program.name}}
{% endblock title %}
{% block content %}
	<!-- Book Preloader -->

		<!--/ End Book Preloader -->


		<!-- Header -->
		<header class="header">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-12">
							<!-- Contact -->
							<ul class="content">
								<li><i class="fa fa-phone"></i>{{content.phone}}</li>
								<li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope-o"></i>{{content.email}}</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-4 col-12">
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus "></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<div class="logo">
								<a href="index.html"><img src="{% static 'images/logo.png' %}" alt="#"></a>
							</div>
							<div class="mobile-menu"></div>
						</div>
						<div class="col-lg-9 col-md-9 col-12">
							<!-- Header Widget -->
							<div class="header-widget">
								<div class="single-widget">
									<i class="fa fa-phone"></i>
									<h4>Call Now<span>{{content.phone}}</span></h4>
								</div>
								<div class="single-widget">
									<i class="fa fa-envelope-o"></i>
									<h4>Send Message<a href="{{content.email}}"><span>{{content.email}}</span></a></h4>
								</div>
								<div class="single-widget">
									<i class="fa fa-map-marker"></i>
									<h4>Our Location<span>Pokhara-01, Bagar </span></h4>
								</div>
							</div>
							<!--/ End Header Widget -->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
			<!-- Header Menu -->
			<div class="header-menu">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<nav class="navbar navbar-default">
								<div class="navbar-collapse">
									<!-- Main Menu -->
									<ul id="nav" class="nav menu navbar-nav">
										<li><a href="/">Home</a></li>
										<li class="active"><a href="#">Faculty&nbsp;/&nbsp;Institute<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="#">Faculties<i class="fa fa-angle-right"></i></a>
												<ul class="dropdown submenu">
												{% for faculty in faculties %}
													<li><a href="/faculty/{{faculty.slug}}">{{faculty.name}}</a></li>
													{% endfor %}
												</ul>
											</li>
											<li><a href="#">Institutes<i class="fa fa-angle-right"></i></a>
												<ul class="dropdown submenu">
												{% for i in institutes %}
													<li><a href="/institute/{{i.slug}}">{{i.name}}</a></li>
													{% endfor %}
												</ul>
											</li>
										</ul>
										</li>
										<li><a href="/courses/">Courses</a></li>
										<li><a href="/news/">News</a></li>
										<li><a href="/notice/">Notices</a></li>
										<li><a href="/events/">Events</a></li>
										<li><a href="/about-us/">About Us</a></li>
										<li><a href="/contact-us/">Contact</a></li>
									</ul>
									<!-- End Main Menu -->
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Menu -->
		</header>
		<!-- End Header -->

		<!-- Start Breadcrumbs -->
		<section class="breadcrumbs overlay">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>{{dept.name}}</h2>
						<ul class="bread-list">
							<li><a href="/">Home<i class="fa fa-angle-right"></i></a></li>
                           <li><a href="#">
                           {% if program.department %}{{program.department}}{% else %}{{program.institute}}{% endif %}

		                   <i class="fa fa-angle-right"></i></a></li>
							<li class="active"><a href="#">{{program.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Breadcrumbs -->

		<!-- Events -->
		<section class="events single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="single-event">
							<div class="single-course">
										<div class="course-head">
											{% if program.feature_image %}
											<img style="width:100%"src="{{program.feature_image.url}}" alt="#">
											{% endif %}
										</div>
									</div>
							<div class="event-content">
								<div class="meta">
									<span><i class="fa fa-calendar"></i>
                                    {% if program.departments %}{{program.departments}}{% else %}{{program.institute}}{% endif %}
                                    </span>
								</div>
								<h2><a href="/about_program/{{program.slug}}">{{program.header}}</a></h2>
                                 <p>
                                {% autoescape on %}
                                {{program.content|safe}}
                                {% endautoescape %}
                                </p>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<th>S.N</th>
											<th>Name</th>
											<th>Role</th>
											<th>Contact</th>
											<th>Mail</th>
											<th>Bio-data</th>
										</thead>
										<tbody>
										{%with empty=""%}
											{% for staff in staffs %}
											<tr>
											<td>{{forloop.counter}}</td>
											<td>{{staff.name}}</td>
											<td>{{staff.role}}</td>
											<td>{{staff.phone}}</td>
											<td>{{staff.email}}</td>
											<td>{% if staff.biodata %}
											<a href="{{staff.biodata.url}}" download><i class="fa fa-file"></i></a>
											{% else %}{{empty}}{% endif %}
											</td>
											</tr>
											{% endfor %}
										{% endwith %}
										</tbody>
									</table>
								</div>

								<div class="book-now">

									<ul class="social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus "></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="sidebar">

							<div class="single-widget course">
								<h3>Program <span>Head</span></h3>
								<!-- Single Course -->
								<div class="single-course">
									<img src="{{program.dean_image.url}}" alt="{{program.dean}}">
									<div class="course-content">
										<h4><a href="#">{{program.dean}}</a></h4>
										<div class="meta">{{program.name}}</span></div>
									</div>
								</div>
								<!-- Single Course -->

							</div>
							<!-- Categories -->

							<!--/ End Categories -->
							{% if news %}
							<div class="single-widget course">
								<h3>Recent <span>News</span></h3>
								<!-- Single Course -->
								{% for n in news %}
								<div class="single-course">
									{% if n.feature_image %}
									<img src="{{n.feature_image.url}}" alt="{{n.title}}">
									{% else %}
									<img src="{% static 'images/logo.png' %}" alt="{{n.title}}">
									{% endif %}
									<div class="course-content">
										<h4><a href="/news/{{n.slug}}">{{n.title}}</a></h4>
										<div class="meta"> <span><i class="fa fa-calendar"></i>{{n.date|date:"d, M"}}</span></div>
									</div>
								</div>
								{% endfor %}
								<!-- Single Course -->
							</div>
							{% endif %}
							{% if notices %}
							<div class="single-widget course">
								<h3>Recent <span>Notices</span></h3>
								<!-- Single Course -->
								{% for no in notices %}
								<div class="single-course">
									{% if no.feature_image %}
									<img src="{{no.feature_image.url}}" alt="{{no.title}}">
									{% endif %}
									<div class="course-content">
										<h4><a href="/notice/{{no.slug}}">{{no.title}}</a></h4>
										<div class="meta"> <span><i class="fa fa-calendar"></i>{{no.date|date:"d, M"}}</span></div>
									</div>
								</div>
								{% endfor %}
								<!-- Single Course -->
							</div>
							{% endif %}
							<div class="single-widget categories">
                                <h3 class="title">Syllabus</h3>
                                <ul>
                                   {% for s in syllabus %}
								    <li><a href="{{s.file.url}}" download><i class="fa fa-angle-right"></i>{{s.subject_name}}</a></li>
								   {% endfor %}

                                </ul>
                            </div>
							<div class="single-widget tags">
								<h3>Our <span>Gallery</span></h3>
								<div class="gallery-small-thumbs clearfix">
								{% for image in images %}
									<div class="thumb-small-gallery">
									<a data-fancybox="photo" rel="gallery1" href="{{image.image.url}}" data-caption="{{image.title.image_title}}">
										<img alt="" src="{{image.image.url}}"/>
									</a>
                            	</div>
								{% endfor %}
                        		</div> <!-- /.galler-small-thumbs -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Events -->

		<!-- Footer -->
		<footer class="footer overlay section wow fadeIn">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<!-- About -->
							<div class="single-widget about">
								<div class="logo"><a href="#"><img src="{% static 'images/logo.png' %}" alt="#"></a></div>
								<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consectetur</p>
								<ul class="list">
									<li><i class="fa fa-phone"></i>Phone: {{content.phone}} </li>
									<li><i class="fa fa-envelope"></i>Email: <a href="mailto:{{content.email}}">{{content.email}}</a></li>
									<li><i class="fa fa-map-o"></i>Address: {{content.address}}</li>
								</ul>
							</div>
							<!--/ End About -->
						</div>
						<div class="col-md-1"></div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Useful Links -->
							<div class="single-widget useful-links">
								<h2>Useful Links</h2>
								<ul>
									<li><a href="#"><i class="fa fa-angle-right"></i>Home</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>About Us</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Courses</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>News</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Events</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Notice</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
								</ul>
							</div>
							<!--/ End Useful Links -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Latest News -->
							<div class="single-widget useful-links">
								<h2>Custom Pages</h2>
								{% for p in pages  %}
								<ul>
									<li><a href="/pages/{{p.slug}}"><i class="fa fa-angle-right"></i>{{p.name}}</a></li>
								</ul>
								{% endfor %}
							</div>
							<!--/ End Latest News -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<div class="single-widget useful-links">
								<h2>Resources For</h2>
								<ul>
									<li><a href="#"><i class="fa fa-angle-right"></i>Future Students</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Current Students</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Faculty/Staff</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>International</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Postdocs</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Alumni</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<div class="single-widget useful-links">
								<h2>Study</h2>
								<ul>
									<li><a href="#"><i class="fa fa-angle-right"></i>Courses</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Apply Now</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Scholarships</a></li>
									<li><a href=""><i class="fa fa-angle-right"></i>FAQs</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>International student enquiries</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bottom-head">
								<div class="row">
									<div class="col-12">
										<!-- Social -->
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										</ul>
										<!-- End Social -->
										<!-- Copyright -->
										<div class="copyright">
											<p>© Copyright 2018 <a href="#">Roopesh Shankar</a>. All Rights Reserved</p>
										</div>
										<!--/ End Copyright -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Bottom -->
		</footer>
		<!--/ End Footer -->
		{% endblock content %}